.block {
  cursor: pointer;
  margin: 10px 10px 10px 10px;
  width: 120px;
  height: 100px;
  background: linear-gradient(135.41deg, #484c54 0.47%, #232f39 99.56%);
  opacity: 0.35;
}

.block:hover {
  background-color: rgb(4, 4, 109);
}
